.login-page {
  background-color: #020727;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.login-container {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 30px;
  border-radius: 8px;
  width: 350px;
  margin: 30px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.login-container h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
}

.login-container input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 4px;
  border: none;
}

.login-container button {
  width: 100%;
  padding: 12px;
  background-color: #e50914;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.login-container button:hover {
  background-color: #f40612;
}

.toggle-text {
  color: #ccc;
  margin-top: 15px;
  text-align: center;
}

.toggle-btn {
  color: #e50914;
  cursor: pointer;
  margin-left: 5px;
  font-weight: bold;
}

.toggle-btn:hover {
  text-decoration: underline;
}
